.toggle + span {
    font-family: 'Original Surfer', sans-serif; 
    color: #ffffff; 
    background-color: #007bff;
    padding: 10px; 
    border-radius: 5px;
  }

.toggle {
    transform: scale(2.4);
    margin-top: 10px;
}
  
body {
  background-image: url(morocco.png);
}
.container {
  background-image: url('cowell.jpg'); /* Replace 'border.png' with the path to your PNG image */
  background-repeat: repeat;
  padding: 20px; /* Adjust padding as needed to prevent content from touching the border */
}

  .toggle {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .button {
    border-radius: 50% !important;
    font-size: 1.5em;
    background-color: lightgray;
    margin-left: 80px;
    cursor: pointer;
    font-family: 'Original Surfer', sans-serif; 
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #switches {
    position: absolute;
    font-family: 'Original Surfer', sans-serif; 
    margin-top: 110px;
  }
  
  .text2 {
    position: absolute;
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif, cursive;
    margin-left: 90px;
    margin-top: 190px;
  }
  
  #title {
    font-family: 'Original Surfer', sans-serif; 
    position: absolute;
    font-size: 40px;
    margin-left: 35px;
    margin-top: 40px;
  }
  
  #turn {
    position: absolute;
    background: #330000;
    color: red;
    font-family: sans-serif;
    font-size: 20px;
    height: 30px;
    width: 50px;
    margin-left: 90px;
    margin-top: 160px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
  }
  
  #outer-circle {
    background: #385a94;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: relative;
    border-style: solid;
    border-width: 10px;
    border-color: wheat;
    margin: auto;
    margin-top: 60px;
    box-shadow: 8px 8px 15px 5px #888888;
  }
  
  #inner-circle {
    position: absolute;
    background: grey;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 10px;
    border-color: wheat;
    top: 50%;
    left: 50%;
    margin: -125px 0px 0px -125px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  #topleft, #topright, #bottomleft, #bottomright {
    position: absolute;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 5px;
    border-color: wheat;
    box-sizing: border-box;
    cursor: pointer;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  #topleft {
    border-radius: 250px 0 0 0;
    background: green;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px -250px;
  }
  #topright {
    border-radius: 0 250px 0 0;
    background: purple;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px 0px;
  }
  
  #bottomleft {
    border-radius: 0 0 0 250px;
    background: gold;
    top: 50%;
    left: 50%;
    margin: 0px -250px 0px -250px;
  }
  
  #bottomright {
    border-radius: 0 0 250px 0;
    background: blue;
    top: 50%;
    left: 50%;
    margin: 0px 0px -250px 0px;
  }
  
  #topright:hover {
    background: pink ;
  }
  
  #topleft:hover {
    background: lightgreen;
  }

  #bottomleft:hover {
    background: bisque;
  }

  #bottomright:hover {
    background: lightblue;
  }

 img {
    position: fixed; 
    bottom: 0; 
    max-width: 20%;
    height:auto;
  }
  
  #cowell {
    left: 0; 
    width: 185px;
  }
  
  #helberg {
    left: 50%; 
    transform: translateX(-50%); 
  }
  
  #munk {
    right: 0; 
  }

